body {
    text-align: center;
    background-color: #011F3F;
  }
  
.navbar
{
  background-color: #011F3F;
}

.navbar-brand
{
  font-family: 'Press Start 2P', cursive;
  color:#FEF2BF;
}

.modal-header{
  background-color: #FEF2BF;
}

.modal-body
{
  background-color: #FEF2BF;
  text-align: left;
}

  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
    margin-top: 2rem;
    color: #FEF2BF;
  }
  
  .container-class {
    width: 50%;
    margin: auto;
  
  }

  p
  {
    margin-right:10rem;
  }

  .btn
  {
    background-color:#FEF2BF;
    color: #011F3F;
    height:40px;
    font-weight: 500;
  }

  .btn:active,.btn:focus{
    background-color:#FEF2BF;
  }

  .btn:hover{
    background-color:bisque;
  }
  

  .col-btn {
    margin: 25px;
    display:inline-block;
    height: 150px;
    width: 150px;
    border: 10px solid black;
    border-radius: 20%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }